* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header {
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    left: 0;
    background: #333;
    color: #fff;
    transition: top 0.3s ease;
    z-index: 1000;
}

header>.navbar {
    width: 100%;
    display: flex;
    background-color: #fff;
    padding: 10px;
    border-bottom: 1px solid #595C73;
}

.navbar>.left-side {
    width: 300px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.left-side>.logo {

    width: 150px;
}

.logo>img {

    width: 100%;
}

.left-side>.course-name {

    width: 200px;
    margin-top: 6px;
    border-left: 2px solid #ccc;
    padding: 5px;
}

.con {
    width: 100%;
    height: 110vh;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    position: relative;
}

.video-container>.video-con {
    width: 1280px;
    height: 720px;
    background-color: black;
}

.video-con>video {
    width: 100%;
    height: 100%;
}

.video-panel {
    width: 1280px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 5px 0;
    /* background-color: rgba(255, 182, 193, 0.496); */
    transform: translateY(-50px);
    position: relative;
}

.video-panel>#continue-btn {
    
    width: 100px;
    height: 100px;
    position: absolute;
    top: calc(-720px / 2);
    left: calc(1280px /2);
    font-size: 48px;
    background-color: #00000078;
    border-radius: 9999px;
    text-align: center;
    cursor: pointer;
}

.video-panel>.bottom {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.video-panel>.top {
    position: relative;
    height: 10px;
}

.video-panel>.top>.video-time-con {
    height: 8px;
    background-color: #504c4c;
}

.video-panel>.top:hover>.video-time-con {
    height: 12px;
    cursor: pointer;
}

.video-panel>.top>.video-time-con>#video-time {
    width: 0%;
    height: 100%;
    background-color: red;
}

button {
    font-size: 24px;
    background-color: transparent;
    border: none;
    color: #fff;
    font-weight: bold;
}

.video-panel>.bottom {
    padding: 0 5px;
}

.bottom>.bottom-left {
    display: flex;
    gap: 5px;
}

.bottom-left>#video-speed {
    width: 50px;
    height: 20px;
    background-color: #fff;
    color: #000;
    font-size: 15px;
    border: none;
    padding: 3px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#speedTimer>span {
    width: 100%;
    text-align: center;
    padding: 8px 0;
    cursor: pointer;
}

#speedTimer>span:hover {
    background-color: #504c4c77;
}

.bottom>.bottom-right {
    display: flex;
    gap: 10px;
    position: relative;
}

.bottom>.bottom-right>button {
    font-size: 18px;
}

.slider {
    --slider-width: 100%;
    --slider-height: 6px;
    --slider-bg: rgb(82, 82, 82);
    --slider-border-radius: 999px;
    --level-color: #fff;
    --level-transition-duration: .1s;
    --icon-margin: 15px;
    --icon-color: var(--slider-bg);
    --icon-size: 25px;
    position: absolute;
    width: 150px;
    top: -110px;
    right: 45px;
    transform: rotate(-90deg);
    opacity: 0;
    transition: opacity 2s ease;
}

.slider.show {

    opacity: 1;
    transition: none;
}

.slider {
    cursor: pointer;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}


.slider .level {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: var(--slider-width);
    height: var(--slider-height);
    background: var(--slider-bg);
    overflow: hidden;
    border-radius: var(--slider-border-radius);
    -webkit-transition: height var(--level-transition-duration);
    -o-transition: height var(--level-transition-duration);
    transition: height var(--level-transition-duration);
    cursor: inherit;
}

.slider .level::-webkit-slider-thumb {
    -webkit-appearance: none;
    width: 0;
    height: 0;
    -webkit-box-shadow: -200px 0 0 200px var(--level-color);
    box-shadow: -200px 0 0 200px var(--level-color);
}

.slider:hover .level {
    height: calc(var(--slider-height) * 2);
}

/* SIDEBAR */

.con>.side-bar {

    width: calc(100% - 1280px);
    height: 1200px;
    background-color: red;
    position: fixed;
    right: 0;
    top: 50px;
}

.side-bar>.topicSubject {

    width: 100%;
    padding: 10px;
    background-color: #F6F7F9;
    display: flex;
    flex-direction: column;
    gap: 10px;
    cursor: pointer;
}

.topicSubject>.topic-top {

    display: flex;
    justify-content: space-between;
}

.side-bar>.lessons {

    display: none;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    background-color: #fff;
}

@media (max-width: 600px) {

    header {

        width: 100%;
    }

    header>.navbar {

        width: 100%;
        display: flex;
        background-color: #fff;
        padding: 10px;
        border-bottom: 1px solid #595C73;
    }

    .con {
        width: 100%;
        height: 100vh;
        background-color: red;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        position: relative;
        flex-direction: column;
    }

    .con>.main-container {

        width: 100%;
        display: flex;
        flex-direction: column;
    }

    .main-container>.video-container {

        width: 100%;
    }

    .video-container>.video-con {
        width: 100%;
    }

    .con>.side-bar {

        width: 500px;
        background-color: red;
        position: static;
    }

    .con>.main-container>.video-container>.video-panel>.bottom>.bottom-right>#genis {

        display: none;
    }

    .video-container>.video-panel {

        width: 100%;
    }

    .video-panel>.top {

        width: 100%;
    }

    .top>.video-time-con {

        width: 100%;
    }

    .video-time-con>#video-time {

        width: 10px;
    }

    .slider .level {

        height: 30px;
    }

    .video-panel>#continue-btn {

        width: 100px;
        height: 100px;
        position: absolute;
        top: calc(-720px / 2);
        left: 300px;
        font-size: 48px;
        background-color: #00000078;
        border-radius: 9999px;
        text-align: center;
        cursor: pointer;
    }
}                       